.containerNew {
  margin: 20px;
}

.App {
  text-align: center;
  margin-bottom: 20px;
}

.App-Center {
  display: flex;
  justify-content: center;
}

.table {
  margin-top: 20px;
}

.btn-danger {
  background-color: red;
  color: white;
}
